
* {
    font-family: 'Abhaya', serif;
  }
  
  section{
    display:block;
  }
  
  div{
    display:block;
  }
  
  body {
    font-size: 1rem;
    line-height: 1.45;
    color: #313131;
    letter-spacing: .0571428571rem;
    overflow-wrap: break-word;
  }
  
  .gutter {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }
  
  .container-spacer{
    margin-top: 4.6428571429rem;
    margin-bottom: 4.6428571429rem;
  }
  
  .container{
    position: relative;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .hgroup-center{
    text-align: center;
  }
  
  .heading-h{
    text-align: center;
  }
  
  .image-center-home {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  
  .hgroup-limited {
    max-width: 680px;
    margin-right: auto;
    margin-bottom: 4.6428571429rem;
    margin-left: auto;
  }
  
  header {
      display: block;
  }
  
  .grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
  }
  
  .highlight-part{
    padding-top: 5.9285714286rem;
    padding-bottom: 5.7142857143rem;
  }
  
  .white-bg{
    background-color:# snow7008;
  }
  
  .group-pict{
    display: flex;
    flex: 1 1 100%;
    margin: 0 1.75rem 1.4285714286rem;
  }
  
  .group-pict-column{
    flex-direction: column;
  }
  
  .group-pict13{
    flex-basis: calc(50% - 3.5rem);
    width: calc(350% - 3.5rem);
  }
  
  .card {
    display: inline-block;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .grouppict-heading{
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: .05em;
  }
  
  .site-foot{
    display:flex;
    color: #fff;
    font-family: 'Bitter', serif;
  }
  
  @media
  .site-foot-logo{
    display:none;
  }
  
  .site-foot-logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  @media (min-width: 700px)
  .site-foot-inner {
      padding-right: 6vw;
      padding-right: var(--gutter-s);
      padding-left: 6vw;
      padding-left: calc(var(--gutter-s));
  }
  
  .site-foot-inner{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #024533;
    padding-left: 8vw;
    padding-left: var(--gutter);
    padding-right: 8vw;
    padding-right: var(--gutter);
  }
  
  .padding-top-xs {
    padding-top: 3rem;
    padding-top: var(--spacing-xs);
  }
  
  .padding-bottom-xxs {
    padding-bottom: 1.5rem;
    padding-bottom: var(--spacing-xxs);
  }
  
  .site-foot-title{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    text-align: center;
  }
  
  .site-foot-contact-list {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
  
  #image-logo-footer{
    max-width: 30%;
    height: auto;
  }
  
  .site-foot-menu {
    display: flex;
  }
  
  @media (min-width: 700px)
  .site-foot-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .site-foot-bottom{
    width: 100%;
    margin-top: 1.5rem;
    margin-left:1.5rem;
    font-size:2rem;
  }
  
  .site-foot-copyright {
    color: #fff;
    font-size: 3rem;
    opacity: .5;
  }
  
  
  
  /* .main-header{
    flex-wrap: nowrap;
  } */
  
  .main-header{
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .grid-item {
    display: flex;
    flex: 1 1 100%;
    margin: 0 1.75rem 1.4285714286rem;
  }
  
  .header-top{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #efece7;
    z-index: 9;
    margin-top: 0;
  }
  
  .container-large{
    max-width: 1600px;
  }
  
  .grid-space-between {
    justify-content: space-between;
  }
  
  .main-header .grid-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  
  .main-header-right {
    justify-content: flex-end;
  }
  
  /*style accomo*/
  
  h1{
    margin-bottom:1.6rem;
    font-size:2.22rem;
  }
  
  article{
    display: block;
  }
  
  .padded-container {
  padding: 8%;
  }
  
  .padded-container-slim {
    padding: 4% 8.5%;
  }
  
  .padded-container {
    padding-right: 10%;
    padding-left: 10%;
  }
  
  .padded-container {
    padding: 8.3% 17.5% calc(8.3% - 1.42857rem);
  }
  
  .bg-white{
    background-color: #fff;
  }
  
  .list-columns-3 {
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 50px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  
  .list-col-3 {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 110px;
    column-gap: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .list-columns {
    padding-left: 1.5714285714rem;
  }
  
  ul {
    line-height: inherit;
    position: relative;
  }
  
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  
  li ::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
  }
  
  
  .container-list .grid-item {
    margin-bottom: 5rem;
  }
  
  .grid-item-50 .grid-item-shrink {
    flex-basis: calc(50% - 3.5rem);
    flex: 0 0 auto;
  }
  
  
  .grid-item-slick {
    overflow: hidden;
  }
  
  .grid-item-slick {
    flex-direction: column;
  }
  
  /* .grid-item-shrink {
    flex: 0 0 auto;
  } */
  
  .views-field-acco .card {
    width: 100%;
  }
  
  .card {
    display: inline-block;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .card[data-card-carousel] .slick {
    position: relative;
  }
  .box{
    box-sizing: border-box;
  }
  
  .container-block-menu {
    margin-top: -2.1428571429rem;
  }
  
  .container-block {
    margin-bottom: 2.2142857143rem;
  }
  
  .clearfix:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .img-wellness{
    max-width:100%;
  }
  
  #image-yoga{
    max-width:50%
  }
  
  footer{
      display:blo
  }
  
  .hgroup-divider{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2.1428571429rem 0;
    max-width: none;
  }
  
  
  .hgroup-divider .subtitle{
    margin: 0 4.0714285714rem;
  }
  
  .hgroup .subtitle{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .722rem;
    text-transform: uppercase;
    letter-spacing: .1428571429rem;
    text-align:center;
  }
  
  
  .hgroup{
      margin-bottom: 4.2857142857rem;
  }
  
  
  /* :root {
    --primary-color: #2c3855;
    --primary-color-dark: #435681;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
  } */
  
  :root {
    --root-font-size: 16px;
    background-color:#efece7;;
  }